sched*.csh
sched*.list
sched*.condor
sched*.dataset
sched*.report
sched*.session.xml
schedTemplateExp.xml
sched*.package/
sched*.package.zip

*eventroot.list
log/

**/.consign
temp_gccflags.c

.sl73_gcc485/
run22root/[0-9]*/
run22root/*.png
run22root/*.pdf
run22root/*.jpg
run22root/*.txt

*.root
*.out

paw.metafile
last.kumac
